@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: $font-family;
}

body {
    background-color: white;
}

a {
    text-decoration: none;
}

/* header */
header {
    background-color: $color-principal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.1rem 1rem;
}

.logo {
    color: #e9d8a6;
}

.barraNav__listaDesordenada {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.barraNav__elemento {
    list-style-type: none;
    margin: 20px;

    a {
        text-decoration: none;
        color: whitesmoke;

        &:hover {
            text-decoration: underline;
        }
    }
}



.botonHeader {
    background-color: $color-secundario;
    color: whitesmoke;
    border-style: none;
    height: 35px;
    width: 80px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: #ee4b00;
    }
}


/* image section */
.gridContainer {
    margin-top: 50px;
}

.sectionImg {
    display: grid;
    grid-template-areas:
        "box1   box2"
    ;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;

    img {
        grid-area: box2;
        width: 80%;
        align-self: flex-start;
    }
}


.containerText {
    grid-area: box1;
    padding-left: 75px;
}

#colorContainer {
    max-width: 100vw !important;
    background-color: $color-principal;
}

/* main */
.mainNovedades {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 4rem 0;
}

.tituloNovedades {
    font-family: $font-family;
    color: #001219;
    text-align: center;
    font-size: 3rem;
}

.containerImg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
}

.containerTarjetas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 20%;

    img {
        height: 250px;
        width: 50%;
    }

    a {
        background-color: $color-principal;
        color: whitesmoke;
        text-decoration: none;
        padding: 1.3rem 1rem;
        width: 10rem;
        text-align: center;
        border-radius: 4px;
        margin: 2rem 0;

    }
}


.mainNovedades button {
    margin: 0 auto;
    display: inline-block;
    background-color: white;
    border: 2px solid $color-principal;
    padding: 1.3rem 3rem;
    border-radius: 4px;
    cursor: pointer;
}

/* footer */
.footer {
    background-color: $color-principal;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 35vh;
}

.tituloFooter {
    color: #e9d8a6;
}

.barraNavFoot__ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.barraNavFoot__li {
    list-style-type: none;
    margin: 20px;

    a {
        text-decoration: none;
        color: whitesmoke;
    }
}


.copyRight {
    color: whitesmoke;
}