/* NEWS.HTML */
.mainNews {
    padding: 0 2rem;
    margin: 4rem 0;
}

.tituloNews {
    color: #ee9b00;
    text-align: center;
    margin: 1rem;
    font-size: 2rem;
}

.subtitulo {
    margin: 5px;
}


.infoNews {
    color: #001219;
    margin: 2px;
    padding: 5px;
}