/* VIDEOS.HTML */

.bodyVideo {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.mainVideo {
    margin: 4rem 0;
}

.video {
    margin: 0 auto;
    display: block;
}